{% extends 'authen_base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block authen_content %}
<h2 class="text-3xl font-bold font-display mb-6 text-center text-text-light dark:text-text-dark">Login</h2>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-4">
        <label for="id_username" class="block text-sm font-medium text-subtle-light dark:text-subtle-dark mb-1">
            E-mail
        </label>
        {{ form.email }}
        {% for error in form.email.errors %}
            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="mb-6">
        <label for="id_password" class="block text-sm font-medium text-subtle-light dark:text-subtle-dark mb-1">
            Password
        </label>
        {{ form.password }}
        {% for error in form.password.errors %}
            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    <button
        class="w-full bg-primary text-white font-bold py-3 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary dark:focus:ring-offset-background-dark transition-colors duration-300"
        type="submit"
    >
        Login
    </button>

    <p class="text-center text-sm text-subtle-light dark:text-subtle-dark mt-6">
        No account?
        <a class="font-medium text-primary hover:underline" href="{% url 'register'%}">Register here</a>.
    </p>
</form>
{% endblock %}
