{% extends 'authen_base.html' %}
{% load static %}

{% block title %} Register {% endblock %}

{% block authen_content %}
<h2 class="text-3xl font-bold font-display mb-6 text-center text-text-light dark:text-text-dark">
    Create an Account
</h2>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="{{ form.username.id_for_label }}">Username</label>
        {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="mb-4">
        <label for="{{ form.email.id_for_label }}">E-mail</label>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="mb-6">
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <div class="mb-6">
        <label>Profile Image (optional):  </label>
        <label for="{{ form.profile_img.id_for_label }}" 
            class="inline-block cursor-pointer px-4 py-2 rounded-lg bg-white/80 text-blue-600 drop-shadow-sm hover:bg-blue-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary dark:focus:ring-offset-background-dark transition-colors duration-300">
            Choose Image
        </label>

        <!-- {# input ถูกซ่อนด้วย class hidden จาก forms.py #} -->
        {{ form.profile_img }}
        {{ form.profile_img.errors }}
        <img id="preview" class="m-auto mt-3 rounded-lg border max-h-64 object-contain hidden" alt="Preview" />
    </div>
    
    <button class="font-display font-bold w-full bg-primary text-white py-3 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary dark:focus:ring-offset-background-dark transition-colors duration-300" type="submit">
        Register
    </button>
</form>
{% endblock %}
{% block script %}
<script>
    // ใช้ id เหมือนที่ตั้งกับ label
    const image = document.getElementById('id_profile_img')
    const preview = document.getElementById('preview')
    image.addEventListener('change', () => {
      const [file] = image.files
      if (file) {
        preview.src = URL.createObjectURL(file)
        preview.classList.remove('hidden')
      }
    })
</script>
{% endblock %}