{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
                <section class="mb-8">
                    <!-- Categories -->
                    <h2 class="text-lg font-semibold mb-2">Categories</h2>
                    <div class="overflow-x-auto no-scrollbar mb-6">
                        <div class="flex gap-3">
                            {% for c in categories %}
                            <button class="flex-shrink-0 px-4 py-2 text-sm font-medium rounded-full
                                        bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-200
                                        hover:bg-blue-200 dark:hover:bg-blue-800 transition">
                                {{ c.name }}
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <div class="border-b border-slate-200 dark:border-slate-800 mb-6 flex justify-center">
                    <nav class="flex gap-4">
                        <a class="px-3 py-2 text-sm font-bold border-b-2 border-primary text-primary" href="#">Recommended</a>
                        <a class="px-3 py-2 text-sm font-bold border-b-2 border-transparent text-slate-500 dark:text-slate-400 hover:text-primary hover:border-primary transition-colors" href="#">Popular</a>
                        <a class="px-3 py-2 text-sm font-bold border-b-2 border-transparent text-slate-500 dark:text-slate-400 hover:text-primary hover:border-primary transition-colors" href="#">My Feed</a>
                    </nav>
                </div>

                <!-- blogs list -->
                <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                        {% include "partials/blogbox_big.html" %}
                </div>
                <!-- blogs list -->
{% endblock %}